

.page-layout-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "primary primary"
    "secondary music-player";
}

.page-layout-primary{
    grid-area: primary;
    padding :1rem 0.5rem;
}

.page-layout-secondary{
    grid-area: secondary;
}

.page-layout-music-player{
    grid-area: music-player;
}

.page-layout-primary, .page-layout-secondary, .page-layout-music-player{
    border-radius: 0.25rem;
    background-color: #F3F2F0;
    /* background-color: grey; */
    margin : 0.5rem;
}


@media screen and (max-width : 750px){
    .page-layout-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "primary"
        "secondary"
        "music-player";
    }

    .page-layout-primary, .page-layout-secondary, .page-layout-music-player{
        border-radius: 0rem;
        margin : 0.5rem 0rem;
    }
}