

.song-title-card-container{
    background-color: white;
    width : 180px;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.song-title-card-container img{
    width : 170px;
    height: 200px;
    background-color: tomato;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.song-title-card-container div{
    padding: 0.5rem;
}
.song-title-name {
    text-align: center;
    font-weight: 500;
    padding : 0rem 0rem 0.25rem 0rem;
    white-space: nowrap;
  overflow: hidden; /* Optionally hide overflow if text exceeds the container */
  text-overflow: ellipsis; /* Optionally add ellipsis for overflowing text */
}

.song-movie-name{
    text-align: center;
    font-weight: 300;
}