

.main-container{
    width : 100vw;
    height: 100vh;
    background-color: lightgray;
    display : grid;
     grid-template-columns : 18% auto;
    grid-template-rows : 86px auto 86px;
    gap:8px;
    grid-template-areas: 
    "nav nav"
    "sidebar content"
    "player player"
}

.nav-div{
    height: auto;
    grid-area: nav;
    /* background-color: blue; */
}

.sidebar-div{
    grid-area: sidebar;

}

.content-div{
    grid-area : content;
    /* background-color: lightgray; */
    overflow: scroll;
    scrollbar-width: none;
}

.player-div{
    grid-area : player;
    /* background-color:blueviolet; */

}

@media screen and (max-width : 900px) {
    .main-container{
         grid-template-columns : auto;
        grid-template-rows : 86px auto 86px 68.4px;
        grid-template-areas: 
        "nav"
        "content"
        "player"
        "sidebar"
    }
}